/* SURVEY LIST */

.survey-list{
    width:95%;
    max-width:900px;
    margin:25px auto;
}

.survey-item{
    background:#fff;
    padding:15px 20px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    font-size:16px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.survey-item:hover{
    background:#f2f7ff;
}

.rank{
    color:#2563eb;
    font-weight:bold;
    width:50px;
}

.company{
    flex:1;
    text-align:left;
}

.count{
    color:#555;
    width:80px;
}